body{
    display: grid;
    background-color: beige;
}

.todos-os-itens{
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
    height: 100%;
}

ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    margin-right: 20%;
}

li{
    display: grid;
    margin: 10px;
    width: 100%;
    height: 150%;
}

.div-item{
    background-color: lightblue;
    color: white;
    padding: 10px;
    margin: 5px;
}